<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>coder-camps-js</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/site.css"/>
</head>

<body>

  <div>
    <a ui-sref="Home">Home</a>
  </div>

  <ui-view></ui-view>

  <script src="/scripts/jquery/dist/jquery.min.js"></script>
  <script src="/scripts/filepicker-js-bower/filepicker.min.js"></script>
  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-filepicker/dist/angular_filepicker.min.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/js/app.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/controllers.js"></script>
</body>

</html>
